* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
}

.banner {
    /* background-image: linear-gradient(90deg, #181818 10%, hsla(0, 0%, 9%, .98) 20%, hsla(0, 0%, 9%, .97) 25%, hsla(0, 0%, 9%, .95) 35%, hsla(0, 0%, 9%, .94) 40%, hsla(0, 0%, 9%, .92) 45%, hsla(0, 0%, 9%, .9) 50%, hsla(0, 0%, 9%, .87) 55%, hsla(0, 0%, 9%, .82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0)), url(assets/jpg/banner/background_image.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 30vh;
}

.banner .banner-content {
    padding: 10% 2%;
}

.banner .banner-content .banner-title h1 {
    font-size: 3rem;
    font-weight: 1000;
    font-family: arial;
    color: #715d90;
    letter-spacing: 1px;
    padding: -5% 10% 10% 10%;
}

.banner .banner-content .banner-title p {
    color: white;
    max-width: 475px;
    font-size: 1.25rem;
    font-family: 'arial';
    padding: 1% 0%;
    font-weight: 400;
}
.banner .banner-content .banner-title h3 .box{
    border: 2px solid #333;
    padding: 3px;
} 

.banner .banner-content .banner-buttons .play {
    padding: 3% 1%;
    border-radius: 5px;
    border: none;
    color: red;
    background-color: #222;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 10px;
    transition: 0.5s;
}

.banner .banner-content .banner-buttons .play:hover {
    background-color: rgb(194, 30, 30);
    color: #fff
}

.banner .banner-content .banner-buttons .info {
    padding: 1% 1%;
    border-radius: 5px;
    border: none;
    color: #222;
    background-color: red;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 10px;
    transition: 0.5s;
}

.banner .banner-content .banner-buttons .info:hover {
    background-color: #fff;
    color: rgb(194, 30, 30);
}

section .posters {
    padding: 100px 15px 0px 15px;
    display: flex;
    overflow-y: hidden;
    overflow-x: none;
    /* padding-top: 100px; */
}

section .posters::-webkit-scrollbar {
    display: none;
}
section h1{
    color: #fff;
    font-family: arial;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1% 0% 0% 1%;
    margin-top: 100px;
    margin-bottom: -100px;
    margin-left: 10px;
}
section .posters .posters-title{
    margin: 1% 0.5%;
    transition: transform 420ms;
}
section .posters .posters-title a{
    text-decoration: none;
}
section .posters .posters-title h3{
    color: #fff;
    font-family: arial;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    padding: 1% 0%;
}
section .posters .posters-title:hover{
    transform: scale(1.09);
}
nav{
    background-color: black;
    display: flex;

}
nav .logo{
    width: 120px;
    /* filter:brightness(10); */
    margin-left: -200px;
}
nav .profile{
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
    border: 4px solid #fff;
    max-width: 100%;
    margin-right: 20px;
    margin-top: 10px;
}
nav .signups{
    /* display: flex; */
    display: flex;
}
nav .signups a .join{
    background-color: rgb(196, 14, 14);
    color: #fff;
    padding: 3% 6%;
    border: 0;
    box-shadow: none;
    /* display: inline; */
    white-space: nowrap;
    cursor:pointer;
    margin-left: 150px;
    margin-top: 3%;
    margin-right: 25px;
}
nav .signups a .sign{
    background-color: transparent;
    color: #fff;
    border: 2px solid #b3b0b0;
    /* box-sizing: border-box; */
    box-shadow: none;
    padding: 6% 12%;
    border-color: #a7a6a6;
    border-width: 2px;
    /* display: inline; */
    margin: 0% 1rem 0% 5rem;
    white-space: nowrap;
    outline: #fff;
    outline-width: 1px;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 8%;
    margin-left: 35px;
}
nav .signups p{
    color: #fff;
    display: flex;
    padding: 2.5% 0% 2.5% 10%;
    display: inline;
    white-space: nowrap;
    margin-right: -45px;
}

*::-webkit-scrollbar {
    display: none;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}
/* p ,button{
    display: inline-block;
    vertical-align: middle;
} */
footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #666;
    color: #666;
}

footer h1 {
    font: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

footer .row {
    display: flex;
    align-items: flex-start;
    padding: 1% 0%;
}

footer .col a {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    display: block;
}

footer .col {
    margin: 2% 1%;
}

.lang {
    background-color: transparent;
    border-radius: 4px;
    border: 3px solid #777;
    font-size: 1rem;
    font-weight: 500;
    font-family: arial;
    padding: 10px 13px;
    color: #777;
    margin-left: 60px;
}

footer p{
    color: #777;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: arial;
    padding: 10px 60px;
}
.banner .banner-content .banner-title img{
    width: 600px;
    height: 110px;;
}
.banner .container1 .container1-title img{
    width: 80px;
    height: 70px;
    margin: 0;
}
.banner .container1{
    margin-top: 9.5rem;
    max-width: 100%;
    height: 75px;
    background-image: linear-gradient(90deg,#333 5%,#181818 95%);
    box-shadow: 8px 5px 16px 0 rgba(0,0,0,.37);
    display: flex;
    justify-content: space-between;
}
.banner .container1 .container1-title{
    display: flex;
    color: #fff;
}
.banner .container1 .container1-title p{
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}
.banner .banner-content .banner-title .container1 button{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 9px 20px;
    margin-right: 1rem;
    color: #fff;
    background-color: rgba(223, 12, 12, 0.824);
    box-shadow: black;
    cursor: pointer;
}